name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - run: dotnet restore Geliver.Sdk.sln
      - run: dotnet test Geliver.Sdk.sln --configuration Release --no-restore
      - run: dotnet pack src/Geliver.Sdk/Geliver.Sdk.csproj -c Release -o ./nupkgs --no-restore
      - name: Publish to NuGet
        run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
